.gridify {
    display: -ms-grid;
    display: grid;
}

.twoCols {
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.threeCols {
    -ms-grid-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.fourCols {
    -ms-grid-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.twoSpacesFromStart {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
}

/* --------------- */


.todoList {
    padding: 0;
    margin-bottom: 70px;
    list-style-type: none;
    width: 100%;
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.todoItems {
    padding: 10px 5px;
    position: relative;
    margin: 10px 0;
}



.inputEdit {
    width: 75%;
    margin-left: 5.6em;
}